{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'performance/swiper/swiper-bundle.min.css' %}">
{% endblock %}

{% block content %}
    <div class="content__block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, a? Qui, sint
            accusantium? Aliquid corrupti
            numquam maiores et sapiente consequuntur facere perspiciatis cum, voluptatem impedit quod temporibus optio
            ullam ratione ipsum, esse tenetur doloremque voluptas excepturi? Aperiam, rerum ratione! Odio!
            <div class="room__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="">
                            <img src="img/slide_1.jpg" alt="slide_1">
                        </div>
                        <div class="room-slider__title">Bedroom</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="">
                            <img src="img/slide_1.jpg" alt="slide_1">
                        </div>
                        <div class="room-slider__title">Bedroom</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="">
                            <img src="img/slide_1.jpg" alt="slide_1">
                        </div>
                        <div class="room-slider__title">Bedroom</div>
                    </div>
                </div>
            </div>
        </div>
    <script src="{% static 'performance/swiper/swiper-bundle.min.js' %}"></script>
{% endblock %}

