{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'performance/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'performance/swiper/swiper-bundle.min.css' %}">
{% endblock %}

{% block content %}
<div class="content__block">
    <div class="main__slider swiper">
        <div class="swiper-wrapper">
            <div class="main__slide swiper-slide">
                <div class="main__slide-img">
                    <img src="{% static 'performance/img/slide_1.jpg' %}" alt="slide_1">
                </div>
            </div>
            <div class="main__slide swiper-slide">
                <div class="main__slide-img">
                    <img src="{% static 'performance/img/slide_2.jpg' %}" alt="slide_2">
                </div>
            </div>
            <div class="main__slide swiper-slide">
                <div class="main__slide-img">
                    <img src="{% static 'performance/img/slide_3.jpg' %}" alt="slide_3">
                </div>
            </div>
        </div>
        <div class="main__slider-title">Добро пожаловать в наш университет</div>
    </div>
</div>

<script src="{% static 'performance/swiper/swiper-bundle.min.js' %}"></script>
{% endblock %}