@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Nunito", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.btn {
  position: relative;
  color: #fff;
  background-color: #06BBCC;
  margin: 0px 0px 10px 0px;
  padding: 6px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn:hover::before {
  border-color: #06BBCC;
  width: calc(100% - 40px);
  height: calc(100% + 10px);
}

.login__body {
  min-height: 100vh;
}
.login__uptitle {
  position: relative;
  color: #06BBCC;
  min-height: 10vh;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__uptitle span {
  display: inline-block;
  width: 140px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  text-align: center;
}
.login__uptitle::before, .login__uptitle::after {
  content: "";
  position: absolute;
  left: 50%;
  z-index: -1;
  background-color: #06BBCC;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.login__uptitle::before {
  bottom: 13px;
  width: 200px;
  height: 1px;
}
.login__uptitle::after {
  bottom: 7px;
  width: 250px;
  height: 2px;
}
.login__title {
  color: #181d38;
  min-height: 10vh;
  margin: 0px 0px 20px 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.login__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5vw;
}
.login__someinf {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}
.login__someinf-title {
  color: #181d38;
  margin: 0px 0px 20px 0px;
  font-weight: 500;
  font-size: 25px;
}
.login__someinf-text {
  color: #181d38;
  font-size: 20px;
  line-height: 120%;
}
.login__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  padding: 0 20px;
}
.login__map iframe {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}
.login__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login__label {
  color: #181d38;
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}
.login__input {
  width: 100%;
  max-width: 400px;
}
.login__input input {
  width: 100%;
  min-height: 58px;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 20px;
  border: 1px solid #ced4da;
  font-size: 20px;
}
.header__block {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__block::before {
  content: "";
  background-color: #f9f9f9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__body {
  padding: 0px 5vw;
}
.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  font-size: 22px;
  font-weight: 500;
  z-index: 2;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}
@media (max-width: 849px) {
  .header__list {
    position: fixed;
    display: block;
    background-color: #fff;
    top: -100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 100px 0px 0px 0px;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
  }
  .header__list._active {
    top: 0;
  }
}
.header__item {
  margin: 0px 20px 0px 0px;
}
.header__link {
  display: inline-block;
  color: #181d38;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.header__link:hover {
  color: #06BBCC;
}
.header__item-sublist {
  position: relative;
  color: #181d38;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.header__item-sublist:hover .header__sublist {
  opacity: 1;
  visibility: visible;
}
.header__sublist {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 50;
  background-color: #fff;
  padding: 10px 20px;
  -webkit-transform: translate(-35%, 0);
          transform: translate(-35%, 0);
  border: 1px solid #ced4da;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.header__subitem {
  text-align: center;
  margin: 0px 0px 15px 0px;
}
.header__subitem:last-child {
  margin: 0px 0px 0px 0px;
}
.header__sublink {
  color: #181d38;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.header__sublink:hover {
  color: #06BBCC;
}
.header__burger {
  display: none;
}
@media (max-width: 849px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #181d38;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #181d38;
    top: 50%;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before {
    top: 5px;
  }
  .header__burger::after {
    bottom: 5px;
  }
}
.header__burger._active::before {
  top: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger._active::after {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__burger._active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.main__slider {
  position: relative;
  margin: 0 -6% !important;
}
.main__slide-img {
  max-height: 800px;
}
.main__slide-img img {
  width: 100%;
}
.main__slider-title {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 2;
  color: #fff;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}

.content__block {
  margin: 10vh 0px 0px 0px;
  max-height: 90vh;
  overflow: hidden;
}

.groups__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.groups__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16.6666666667%;
          flex: 1 1 16.6666666667%;
  text-align: center;
  font-size: 18px;
  padding: 10px 0px;
  border-bottom: 1px solid #000;
}
.groups__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}
.groups__item:last-child::before {
  display: none;
}
.groups__link {
  color: #06BBCC;
}

.performance__form {
  margin: 10px 0px 0px 0px;
  text-align: center;
}
.performance__link {
  color: #06BBCC;
  font-size: 20px;
  font-weight: 500;
}
.performance__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.performance__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 44px;
  margin: 0px 0px 10px 0px;
  padding: 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.performance__item:last-child {
  white-space: pre-wrap;
}
.performance__input {
  width: 100%;
  border: 1px solid #eaeaea;
  text-align: center;
}
.subjects__item {
  margin: 10px 0px 10px 10px;
}
.subjects__link {
  color: #06BBCC;
  font-size: 22px;
  font-weight: 500;
}
.subjects__link:hover {
  text-decoration: underline;
}

.students__block {
  margin: 20px 0px 0px 0px;
}
.students__body {
  overflow: auto;
  padding: 10px 5vw;
}
.students__item {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}
.students__end {
  margin: 0px 0px 20px 0px;
  border-bottom: 2px solid #efefef;
}