<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block extrastyle %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'performance/swiper/swiper-bundle.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="header__block">
            <div class="header__body">
                <nav class="header__menu">
                    <div class="header__logo">Logo</div>
                    <ul class="header__list">
                        {% for element_sidebar in sidebar %}
                        <li class="header__item">
                            <a href="{% url element_sidebar.name_url %}" class="header__link">{{element_sidebar.title}}
                            </a>
                        </li>
                        {% endfor %}
                        <li class="header__item header__item-sublist">More
                            <ul class="header__sublist">
                                {% for element_additional_sidebar in additional_sidebar %}
                                <li class="header__subitem">
                                    <a href="{{ element_additional_sidebar.url }}"
                                        class="header__sublink">{{element_additional_sidebar.title}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <div class="header__burger"><span></span></div>
                </nav>
            </div>
        </div>
        Дополнительный sidebar:
        {#Можно сделать как дополнительное выпадающие меню в сайдбаре#}

        {% block content %}
        {% endblock %}
        <div class="content__block">
            <div class="main__slider swiper">
                <div class="swiper-wrapper">
                    <div class="main__slide swiper-slide">
                        <div class="main__slide-img">
                            <img src="{% static 'performance/img/slide_1.jpg' %}" alt="slide_1">
                        </div>
                    </div>
                    <div class="main__slide swiper-slide">
                        <div class="main__slide-img">
                            <img src="{% static 'performance/img/slide_2.jpg' %}" alt="slide_2">
                        </div>
                    </div>
                    <div class="main__slide swiper-slide">
                        <div class="main__slide-img">
                            <img src="{% static 'performance/img/slide_3.jpg' %}" alt="slide_3">
                        </div>
                    </div>
                </div>
                <div class="main__slider-title">Добро пожаловать в наш университет</div>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, a? Qui, sint
            accusantium? Aliquid corrupti
            numquam maiores et sapiente consequuntur facere perspiciatis cum, voluptatem impedit quod temporibus optio
            ullam ratione ipsum, esse tenetur doloremque voluptas excepturi? Aperiam, rerum ratione! Odio!
        </div>
    </div>
</body>

<script src="{% static 'performance/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'performance/scripts/script.js' %}"></script>

</html>