<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block extrastyle %}
    {% endblock %}
</head>
<body>
{% for element_sidebar in sidebar %}
    <div>
    <a href="{% url element_sidebar.name_url %}">{{ element_sidebar.title }}</a>
    </div>
{% endfor %}
Дополнительный sidebar:
{#Можно сделать как дополнительное выпадающие меню в сайдбаре#}
{% for element_additional_sidebar in additional_sidebar %}
    <div>
    <a href="{{ element_additional_sidebar.url }}">{{ element_additional_sidebar.title }}</a>
    </div>
{% endfor %}
{% block content %}
{% endblock %}
</body>
</html>
