{% extends 'base.html' %}
{% load main %}

{% block content %}
    <div class="content__block">
        <table>
            <tr>
                <td>№</td>
                <td>Название группы</td>
                <td>Форма обучения</td>
                <td>Курс</td>
                <td>Специальность</td>
                <td>Количество изучаемых предметов</td>
                <td>Количество студентов в группе</td>
            </tr>
            {% for group in groups %}
                <tr>
                    <td><a href="{{ group.get_absolute_url }}">
                        {{ forloop.counter }}
                    </a></td>
                    <td><a href="{{ group.get_absolute_url }}">
                        {{ group.speciality.abbreviated_name }}-{{ group.course }}
                    </a></td>
                    <td>{{ group.get_form_of_education_display }}</td>
                    <td>{{ group.course }}</td>
                    <td>{{ group.speciality }}</td>
                    <td>{% get_amount_subject_in_group group %}</td>
                    <td>{% get_amount_student_in_group group %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
